@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

html {
	height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.secondary-toolbar {
  width: 100%; 
  height: 64px; 
  display: flex; 
  padding: 16px;
  background: #F5F5F6; 
  box-sizing: border-box; 
  align-items: center;
}

.AppAdmin .create-event-content{
  max-height: calc(100% - 128px);
}

.AppAdmin .EventCalendar{
  max-height: calc(100% - 64px);
}

.AppAdmin .EventList{
      max-height: calc(100% - 64px);
 }

.create-event-content{
  overflow: auto;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  max-height: calc(100% - 64px);
}

.EventDetail{
  height: 100%;
  overflow: auto;
  max-height: calc(100% - 64px);
}

@media only screen and (max-width: 500px) {
    .secondary-toolbar
    {
       height: 56px; 
    }

    .AppBar{
      height: 56px !important;
    }

    .AppAdmin .create-event-content{
      max-height: calc(100% - 112px);
    }

    .AppAdmin .EventList{
      max-height: calc(100% - 56px);
    }

    .create-event-content{
      max-height: calc(100% - 56px);
    }

    .AppAdmin .EventIndex{
      max-height: calc(100% - 56px);
    }

    .EventDetail{
      max-height: calc(100% - 56px);
    }
}

h4{
}

.toolbar-icon span{
  color: white !important;
}

#root {
	height: 100%;
}

.CreateEvent{
  height: 100%;
}

.EventIndex{
  height: 100%;
}

.CreateEvent .event-form-date{
  display: none
}

.EditEvent {
  overflow: auto;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  max-height: calc(100% - 64px);
}

.EventDetail .event-detail-field{
  padding: 6px;
}

.rbc-month-row{
	}

.rbc-day-bg{
}

.rbc-date-cell{
	font-size: 1.5em;
	font-weight: bold;
}

.rbc-event{
	background: #00bcd4 !important;
	border-radius: 0 !important;
	padding: 6px !important;
	font-weight: bold !important;
}
