
.shake{
  animation: 0.5s linear 0s 1 shake;
  z-index: 100;
}

.zoom{
  animation: 0.5s ease-out 0s 1 zoom;
  z-index: 100;
  animation-fill-mode: forwards;  
}

.fade-out{
  animation: 0.2s linear 0s 1 fadeOut;
  animation-fill-mode: forwards;  
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    margin-left: -50px;
  }
  20%{
  	margin-left: 45px;
  }
  40%{
  	color: red;
  	margin-left: -30px;
  }
  60%{
  	margin-left: 25px;
  }
  80%{
  	margin-left: -5px;
  }
  100%{
    margin-left: 0;
  }
}

@keyframes zoom {
  0% {
    margin-left: 0;
  }
  100%{
    margin-left: 1000%;
  }
}
